---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

<div class="post-content e-content" itemprop="articleBody">
  {{ content }}
</div>

  {% if page.tags %}
    <p style="margin-top: 2rem;">Tags:
      {% for tag in page.tags %}
        <a href="{{ site.baseurl }}/tags/{{ tag | slugify }}/" style="text-decoration: none; margin-right: 0.5em; color: #3182ce;">#{{ tag }}</a>
      {% endfor %}
    </p>
  {% endif %}


  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>


<div style="margin-top: 2rem; text-align: center;">
  <a href="{{ '/blog/' | relative_url }}" style="color: #3D3210; font-size: 25px;">← Back to Blog</a>
  <div style="margin-top: 1rem;">
    <img src="{{ '/assets/images/monstera.png' | relative_url }}" alt="monstera" style="max-width: 200px; opacity: 0.85;">
  </div>
</div>

